.simple-floating-hover {
  margin: 0;
  padding: 0;
  background: var(--black);
  --pink: #f01976;
  --black: #040001;
  --border: 15px solid var(--pink);

  .section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .section > div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-top: -150px;
    margin-left: -100px;
  }

  .item1,
  .item2 {
    position: absolute;
    background-color: var(--black);
    border: var(--border);
  }

  .item1 {
    top: 35px;
    left: 35px;
    width: 150px;
    height: 150px;
  }

  .item2 {
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }

  .item3 {
    position: absolute;
    top: 140px;
    left: 120px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid var(--pink);
  }

  .item3:before {
    content: "";
    position: absolute;
    left: -40px;
    right: 0;
    top: 20px;
    bottom: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid var(--black);
  }
}
