/* text */
.simple-floating-button {
  h1 {
    font-weight: bold;
    font-size: 50px;
    color: #134686;
    margin: 0 0 10px;
  }
  p {
    font-size: 32px;
    color: #134686;
    margin: 0;
  }

  /* section */
  .section {
    height: 100vh;
    background: #fdf4e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .section--dark {
    background-color: #134686;
  }

  /* button  */
  .btn {
    border: 2px solid #ed3f27;
    background: none;
    color: #ed3f27;
    font-weight: bold;
    padding: 12px 30px;
  }
  .btn-dark {
    border-color: #feb21a;
    color: #ed3f27;
    background-color: #feb21a;
  }

  /* button 2 */
  .floating-button.button2 {
    bottom: 80px;
  }
  .floating-button.button2 .btn {
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  .floating-button.button2 .btn-dark {
    color: #feb21a;
    border-color: #feb21a;
    background: none;
  }
  .floating-button.button2 .btn img {
    width: 15px;
    height: auto;
  }

  /* button 1 */
  .floating-button.button1 {
    bottom: 150px;
  }
  .floating-button.button1 .btn {
    padding: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0;
    background-color: transparent;
  }
  .floating-button.button1 .btn div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .floating-button.button1 .btn .basketball {
    background-image: url("./basketball.jpg");
    background-size: 55px auto;
  }
  .floating-button.button1 .btn .soccer {
    background-image: url("./soccer.jpg");
    background-size: 100px auto;
  }
}
