@use "@utils/css/color.scss" as colors;

.first {
  position: relative;
  height: 100vh;
  min-height: 500px;
  background: colors.$blue;
  overflow: hidden;
  max-width: 100%;

  &__developer {
    opacity: 0.2;
    font-size: 72px;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 27%;
    left: 0;
    width: 100%;
    z-index: 3;
  }

  &__portfolio {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    margin: 0;

    &-wrap {
      border: 5px solid #fff;
      position: absolute;
      top: 24%;
      left: 50%;
      width: 250px;
      height: 160px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      z-index: 3;
    }
  }

  &__name {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    &__line {
      display: inline-block;
      width: 20px;
      border-top: 3px solid #eee;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 6px;
      padding-top: 3px;
    }
  }

  &__curve1,
  &__curve2 {
    position: absolute;
    bottom: -30px;
    left: -2.5%;
    width: 105%;
  }

  &__sm {
    position: absolute;
    transform: rotate(90deg);
    right: -40px;
    bottom: 100px;

    & > div {
      display: flex;
      gap: 10px;
    }

    &__text {
      color: #fff;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 500;
    }

    &__line {
      width: 25px;
      margin-top: 9px;
      border-top: 1px solid #fff;
    }

    &__link {
      width: 18px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .first {
    min-height: 767px;
    height: auto;

    &__developer {
      font-size: 145px;
    }

    &__portfolio {
      font-size: 48px;
      line-height: 60px;

      &-wrap {
        width: 470px;
        height: 300px;
        border-width: 10px;
        top: 20%;
      }
    }

    &__name {
      font-size: 19px;

      &__line {
        width: 50px;
        margin-right: 15px;
      }
    }
  }
}

.test {
  color: red;
  padding-top: 350px;
}
