@use "@utils/css/color.scss" as colors;

.navbar {
  position: absolute;
  top: 0;
  z-index: 99;
  background: colors.$blue;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  gap: 50px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    border-radius: 100%;
    display: block;
    background: #fff;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    font-size: 22px;
    color: colors.$blue;
    font-weight: 700;
  }

  &__btn {
    cursor: pointer;
    display: none;
    width: 35px;
    height: 30px;
    gap: 4px;
    flex-direction: column;
    background: none;
    border-radius: 8px;
    padding: 7px 6px;
    position: relative;
    border: 0;

    span {
      display: block;
      background: #fff;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      transition: transform 0.3s;
    }

    &__active {
      span {
        position: absolute;
        transform: rotate(40deg);
        left: 6px;
        top: 15px;
        width: 23px;
      }
      span:last-child {
        transform: rotate(-40deg);
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      gap: 20px;
    }

    button {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      padding: 12px 20px;
      border: 0;
      border-bottom: 3px solid transparent;
    }

    .active button {
      color: #fff;
      background: colors.$brown;
      text-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    padding: 0;

    &__header {
      padding: 15px;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    &__btn {
      display: flex;
    }

    &__menu {
      position: fixed;
      top: 70px;
      left: 0;
      width: 100%;
      background: colors.$blue;
      box-sizing: border-box;
      transition: all 0.3s;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      margin-top: -1px;
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);

      ul {
        flex-direction: column;
        padding: 15px 0 15px;
        gap: 0;
        border-bottom: 1px solid #fff;
        margin-block: 0;

        button {
          width: 100%;
          padding: 10px 15px;
          text-align: left;
          transition: all 0.3s;
          border: 0;
          background: none;
        }
      }

      &__active {
        max-height: 100%;
      }
    }
  }
}
