@use "@utils/css/color.scss" as colors;

.about {
  position: relative;
  background: colors.$about-bg;
  overflow: hidden;
  max-width: 100%;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    background: colors.$about-bg2;
    z-index: 1;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__container {
    position: relative;
    z-index: 1;
    padding-block: 50px;
  }

  &__header-shadow {
    letter-spacing: 1px;
    font-weight: 700;
    color: colors.$about-text;
    font-size: 90px;
    margin-bottom: 0;
    margin-left: -5px;
  }

  &__header-text {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 36px;
    margin-top: -56px;
    margin-left: 0px;
  }

  &__paragraph {
    color: #fff;
    font-family: Muli, sans-serif;
    line-height: 28px;
    font-weight: 400;
  }

  &__header-text2 {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 36px;
    margin-top: 56px;
  }

  &__paragraph2 {
    color: #fff;
    font-family: Muli, sans-serif;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
  }

  &__icecream {
    display: none;
  }

  &__works-wrap {
    position: relative;
    z-index: 2;
    max-width: 900px;
  }
  &__works-bg {
    background: #fff;
    height: 50px;
  }

  @media screen and (min-width: 768px) {
    &::before {
      width: 32%;
    }

    &__container {
      padding-bottom: 100px;
    }

    &__header-shadow {
      font-size: 110px;
    }

    &__paragraph {
      &-space {
        padding-right: 50px;
      }
    }

    &__icecream {
      display: block;
    }
  }
}
